{% extends 'face/base.html' %}
{% block content %}
    <h1>Documentos</h1>
    <ul>
    {% for document in list %}
        {% if document.usuario == user or user in document.permissoes.all %}
            <li>{{ document.titulo }} <br> {{ document.data }} - {{ document.usuario }}</li>
            <a href="{% url 'abrir_documento' document.id %}" target="_blank">Abrir Documento</a>
            {% if document.usuario == user %}:
                <a href="{% url 'editar_documento' document.pk %}">Editar Documento</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    <a href="{% url 'novo_documento' %}">Adicionar Novo Documento</a>
{% endblock %}
