{% block eryndral %}
    <head>
        
    </head>
    <div id="complemento-eryndral">
        <h1>Tabela de magias</h1>
        <p><span>Mana:</span><span id="mana-value"></span></p>
        <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nível de Conjurador</th>
                    <th>+2</th>
                    <th>+3</th>
                    <th>+4</th>
                    <th>+5</th>
                    <th>+6</th>
                    <th>+7</th>
                    <th>+8</th>
                    <th>+9</th>
                    <th>+10</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1º</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>2º</td><td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>3º</td><td>4</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>4º</td><td>4</td><td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>5º</td><td>4</td><td>3</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>6º</td><td>4</td><td>3</td><td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>7º</td><td>4</td><td>3</td><td>3</td><td>1</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>8º</td><td>4</td><td>3</td><td>3</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>9º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>10º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>11º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>12º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>13º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>-</td><td>-</td></tr>
                <tr><td>14º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>-</td><td>-</td></tr>
                <tr><td>15º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>-</td></tr>
                <tr><td>16º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>-</td></tr>
                <tr><td>17º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
                <tr><td>18º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
                <tr><td>19º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
                <tr><td>20º</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>2</td><td>1</td><td>1</td></tr>
                <tr>
                    <td></td>
                    <td><button type="button" class="magic" id="magic_1">Usar</button></td>
                    <td><button type="button" class="magic" id="magic_2">Usar</button></td>
                    <td><button type="button" class="magic" id="magic_3">Usar</button></td>
                    <td><button type="button" class="magic" id="magic_4">Usar</button></td>
                    <td><button type="button" class="magic" id="magic_5">Usar</button></td>
                    <td><button type="button" class="magic" id="magic_6">Usar</button></td>
                    <td><button type="button" class="magic" id="magic_7">Usar</button></td>
                    <td><button type="button" class="magic" id="magic_8">Usar</button></td>
                    <td><button type="button" class="magic" id="magic_9">Usar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock  %}