{% extends 'base/base.html' %}

{% load static %}
{% block head %}
    <head>
       <link rel="stylesheet" href="{% static 'rpg/styles/rpg.css' %}?v=1.0">
    </head>
{% endblock %}
{% block content %}
    <h1>Fichas</h1>
    <ul>
    {% for ficha in fichas %}
        <br>
        <li><a href="ficha/{{ ficha.id }}/">{{ ficha.nome }}</a></li>
        <br>
    {% endfor %}
    </ul>
    <br>
    <li>
        <a href="{% url 'criar_ficha' %}">Criar Ficha</a>
    </li>
    <br>
    <h1>RPGs</h1>
    {% for rpg in rpg %}
    {% if request.user == rpg.mestre %}
            <br>
            <li>
                <a href="{% url 'painel_gm' rpg.id %}">Acessar painel do {{ rpg.rpg_nome }}</a>  
            </li>
            <br>
        {% endif %}
    {% endfor %}
    <br>
    <li>
        <a href="{% url 'criar_rpg' %}">Criar RPG</a>
    </li>
    <br>
{% endblock %}