{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'rpg/styles/terminal.css' %}?v=1.0">
        <script type="module" src="{% static 'rpg/scripts/terminal.js' %}?v=1.1" defer></script>
    </head>
    <div id="output_container">
        <p id="output"></p>
    </div>
    <div class="terminal-input-bar">
        <form action="">
            <input type="text" id="input" autocomplete="off" placeholder="Digite um comando...">
            <input type="submit" value="Enviar">
        </form>
    </div>
{% endblock %}